<%- include ('partials/header.ejs') -%>

<title>TwoHearts - my profile</title>

<%- include ('partials/nav.ejs') -%>

<h1>My profile</h1>


<% for (var i = 0; i < data.length; i++) { %>
<div class="profileContainer">
    <img src="uploads/<%=data[i].img%>" alt="profileIMG" class="profileIMG">

    <h2 class="username"> <%=data[i].username%> | <%= data[i].age %> </h2>

    <p class="bio"><%= data[i].bio %> </p>

    <div class="interestsProfile">
        <% for (var x = 0; x < data[i].interests.length; x++){ %>            
            <div class="interestsContainer">
                <p>
                    <%= data[i].interests[x]%>
                </p>
            </div>
            <%}%> 
     </div>

    <button class="editBTN">
     <a href="/myprofile/edit" class="edit">edit info</a>
    </button>
<% } %>

</div>